TOCVIMAGEDIRECTORY BITMAP "TOCVIMAGEDIRECTORY.bmp"
TOCVPROCFACEDETECTOR BITMAP "TOCVPROCFACEDETECTOR.bmp"
TOCVPROCOBJECTDETECTOR BITMAP "TOCVPROCOBJECTDETECTOR.bmp"
TOCVVIDEOCAPTURE BITMAP "TOCVVIDEOCAPTURE.bmp"
